body {
  background-image: linear-gradient(to right, black, gold);
}

header, h1, h3, h6 {
  text-align: center;
}

body {
  color: white;
}

div.alert {
  margin: 10px auto;
  width: 66%;
}

.event-card {
  margin: 7px 7px;
  display: inline-block;
  width: 22%;
  min-width: 100px;
  color: black;
}

.event-card button {
  display: block;
  margin: 7px auto;
  padding: 2px;
  font-size: 75%;
}

.event-card ul {
  display: none;
  list-style-type: none; 
}

.expanded {
  width: 66%
}