body {
  background-image: linear-gradient(to right, black, gold);
}

header, h1, h3, h6 {
  text-align: center;
}

header, form {
  color: white;
}

.event-card {
  margin: 7px 7px;
  display: inline-block;
  width: 22%;
}

.event-card button {
  margin: 7px 7px;
}

.event-card ul {
  display: none;
  list-style-type: none; 
}

.expanded {
  width: 45%
}